<%= render 'shared/banner' %>
<div class="container">
  <div class="row">
    <% @cocktails.each do |cocktail| %>
      <div class="col-xs-12 col-md-6">
        <%= render 'shared/card', cocktail: cocktail %>
      </div>
    <% end %>
  </div>
</div>




