<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), 'app/assets/images/brando_bar.jpg'">
  <div class="container">
    <h1>Blue <strong>crafting skills</strong> to <strong>thirsty people</strong>!</h1>
    <p>Change your life and learn to drink !</p>
    <a class="btn btn-primary" href="<%= new_cocktail_path %>">Commencez !</a>
  </div>
</div>
