<div class="banner" >
  <div class="container">
    <div>
      <h1>Blue <strong>crafting skills</strong> to <strong>thirsty people</strong>!</h1>
      <p>Change your life and learn to drink !</p>
      <%= link_to "Add a cocktail", new_cocktail_path, class: "btn btn-primary" %>
    </div>
  </div>
</div>
